#ifndef CONFIG_H
#define CONFIG_H

// -----------------------------
// WIFI / API
// -----------------------------

// -----------------------------
// SIM800L / GPRS
// -----------------------------
const char* const SIM_APN = "apn";
const char* const SIM_APN_USER = ""; // ikke krævet
const char* const SIM_APN_PASS = ""; // ikke krævet
const unsigned long RESTART_INTERVAL_MS = 3600000UL; // til restart

#define SIM_RX_PIN 16   // ESP32 RX2 ← SIM800L TX
#define SIM_TX_PIN 17   // ESP32 TX2 → SIM800L RX

const char* const API_URL = "http://server/measurements";
const char* const API_KEY = "api";

const char* const DEVICE_ID = "logger_XXX";
const int LOGGER_ID_EX = 1;

// -----------------------------
// LED
// -----------------------------
const char* const LED_STATUS_URL = "http://server/led/1";
#define LED_PIN 2
// INMP441 I2S mikrofon
#define I2S_SCK_PIN  26   // BCK (Bit Clock)
#define I2S_WS_PIN   25   // WS / LRCK (Word Select)
#define I2S_SD_PIN   32   // SD (Serial Data ind)
const unsigned long LED_POLL_INTERVAL_MS = 2000;

// -----------------------------
// PINS
// -----------------------------

#define I2C_SDA 21
#define I2C_SCL 22

#define LDR_PIN 34


#define SD_CS 5

// ESP32 default VSPI pins used for SD card
#define SD_SCK 18
#define SD_MISO 19
#define SD_MOSI 23

// -----------------------------
// TIMING
// -----------------------------

const unsigned long MEASUREMENT_INTERVAL_MS = 300000;

#endif
